<div layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1>
                <span>List of quizzes</span>
            </h1>
            <span flex></span>
            <md-button class="md-raised" aria-label="Results" ui-sref="results">
                Results
            </md-button>
        </div>
    </md-toolbar>

    <div ng-if="$ctrl.loading">Loading</div>

    <md-content>
        <md-list flex>
            <md-list-item
                    ng-repeat="quiz in $ctrl.quizzes"
                    class="md-2-line"
                    ui-sref="quiz({id: quiz.id})"
                    ng-disabled="!$ctrl.availableQuizzes[quiz.id]">

                <div class="md-list-item-text" layout="column">
                    <h3>{{::quiz.title}}</h3>
                </div>

            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>
</div>